<h1><style="color:blue"><DIV ALIGN=center>Creacion Reportes</h1>
<HR NOSHADE>
<BASEFONT SIZE=5>
<FONT FACE="Impact, Arial">
<div id="PrimerNombre" class="green box" style="cursor:move" style="color: green">PrimerNombre</div>
<div id="SegundoNombre" class="green box" style="cursor:move" style="color: green">SegundoNombre</div>
<%= draggable_element :PrimerNombre %>
<%= draggable_element :SegundoNombre %>

